/* page layouts */

body {
    margin: 10px 20px 0 20px;
}

body, a {
    font-family: sans-serif;
    color: darkslategrey;
    background-color: rgb(252, 247, 241);
    text-align: justify;
}

li, #reasons {
    line-height: 1.5em;
}

.image {
    padding-top: 15px;
}

.page-link {
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

aside {
    width: 100%;
}
  
.main-article {
    flex: 2;
    min-width: 300px;
    padding-right: 50px;
}

nav {
    display: flex;
    padding: 0;
}
  
nav li {
    display: inline;
    list-style-type: none;
    margin: 0 25px;
}

.image {
    margin-right: 50px;
}

#images {
    max-width: 90%;
    flex-wrap: nowrap;
}

#reasons, #moments {
    text-align: justify;
}



/* hgroup */

.second-line {
    display: inline-flex;
}

.hgroup h2, .hgroup h5 {
    margin: 0;
}

.hgroup {
    text-align: center;
    margin: 40px 0 60px 0;
}

.second-line h5 {
    margin: 15px;
}



/* font updates */

h1 a, h3, footer {
    font-family: "madelinette", sans-serif;
}

h1 {
    font-size: 250%;
    margin: 0 15px;
}

h1 a {
    text-decoration: none;
}

h3 {
    font-size: 175%;
}

h4 {
    font-size: 125%;
}

h5, h6 {
    font-size: 100%;
}

footer {
    text-align: center;
    font-size: 115%;
    font-weight: bold;
}

nav a, h2, h4, h5, h5 a { 
    font-family: "madelinette-roman", sans-serif;
}



/* links */

a {
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

a:hover {
    color: cadetblue;
}



/* character page */

.character-heading {
    display: flex;
}

.character-heading a {
    margin-left: 25px;
}

.character-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.character-info {
    margin: 0 25px;
    text-align: justify;
}

.character-info h3, .character-info h5 {
    margin: 0;
}

.character-info h6 {
    margin: 25px 0;
}

.character-image {
    margin-bottom: 50px;
}

#last-image {
    margin-bottom: 10px;
}



/* versions page */

.versions {
    margin: 10px auto;
}

.versions-articles {
    text-align: center;
    width: 1200px;
    border: 2px solid darkslategray;
    padding: 0 60px;
    margin: 50px auto;
}

.versions-line {
    width: 1100px;
}

.versions-articles p {
    line-height: 1.5em;
}